@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-family: 'Open Sans';
}

html {
  min-height: 100vh;
  display: flex;
}

body,
#root {
  margin: 0;
  display: flex;
  flex: 1;
  font-family: var(--font-family);
}
